spring:
  jpa:
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      jdbc:
        time_zone: UTC
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
  jackson:
    property-naming-strategy: SNAKE_CASE
  cache:
    type: redis

siksha:
  banned:
    words:
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url:
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    aws:
      region:
        static: ap-northeast-2
      credentials:
        profile-name: dev
      s3:
        bucket:
  data:
    redis:
      host:
      port:

jwt:
  secret-key:

secret-names: dev/siksha-api-server
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url:
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    aws:
      region:
        static: ap-northeast-2
      credentials:
        profile-name: dev
      s3:
        bucket:
  data:
    redis:
      host:
      port:

jwt:
  secret-key:

secret-names: dev/siksha-api-server
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url:
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    aws:
      region:
        static: ap-northeast-2
      credentials:
        profile-name: prod
      s3:
        bucket:
  data:
    redis:
      host:
      port:

jwt:
  secret-key:

secret-names: prod/siksha-api-server
